$blue: #259afc;
$pupil: #27354a;
$dark-grey: #819caf;
$light-grey: #a6becf;

body {
    background: $blue;
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
    // border: solid 3px white;
}

.head {
    position: absolute;
    top: 16.5%;
    left: 25%;
    width: 50%;
    height: 67%;
    background: $light-grey;
    border-radius: 50%;
    z-index: 0;
}

/* ^^^^^^^^^^
   LOOK UP TO FINDOUT THE MATHS
    finding the center of an object is like so:
    left = (100 - width) / 2
    top = (100 - height) / 2
    //in our case
    (100 - 67)/2 = top: 16.5%;
    (100-50)/2 = left: 25%;
*/

.head-copy {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $light-grey;
    border-radius: 50%;
    z-index: 2;
}

.ear-left {
    position: absolute;
    width: 60%;
    height: 65%;
    left: -20%;
    top: 5%;
    background: $light-grey;
    border-radius: 50%;
    z-index: 1;
    animation: spinMe 3s infinite;

}

.ear-right {
    position: absolute;
    width: 60%;
    height: 65%;
    right: -20%;
    top: 5%;
    background: $light-grey;
    border-radius: 50%;
    z-index: 1;
    animation: spinMe 3s infinite;
}

.inner-ear {
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: $dark-grey;
}

.eye-left {
    position: absolute;
    background: white;
    width: 30%;
    height: 33%;
    top: 25%;
    left: 21%;
    border-radius: 50%;
    z-index: 3;
}

.eye-right {
    position: absolute;
    background: white;
    width: 30%;
    height: 33%;
    top: 25%;
    right: 21%;
    border-radius: 50%;
    z-index: 3;
}

.pupil {
    position: absolute;
    width: 24%;
    height: 42%;
    top: 35%;
    left: 36%;
    border-radius: 75%;
    background: $pupil;
}

.nose {
    position: absolute;
    background: #be845f;
    width: 25%;
    height: 42.5%;
    left: 37%;
    top: 47%;
    border-radius: 50px;
    z-index: 4;
}



.hair-left {
    position: absolute;
    top: -8%;
    left: 30%;
    width: 20%;
    height: 20%;
    background: #A6BECF;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right {
    position: absolute;
    top: -4%;
    left: 48%;
    width: 20%;
    height: 20%;
    background: #A6BECF;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media all and (max-width: 600px) {
    .box {
        position: relative;
        margin: auto;
        display: block;
        margin-top: 2%;
        width: 400px;
        height: 280px;
        background: none;

    }
}

// Animations
// Animation of spinMe
// The percentages give you the amount of time in the anim, specified in the animate: css rule
@keyframes spinMe {
    0% {
        // CSS values here, add to 
        transform: rotate(0deg);
        background: #a6becf;
    }

    100% {
        transform: rotate(360deg);
        background: #333333;
    }
}