body {
    background-color: grey;
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
    border: solid 3px white;
}

.table-container {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 50.5%;
    left: 10%;
    filter: drop-shadow(1px 1px 4px black);

}

.top {
    margin: auto;
    position: relative;
    width: 75%;
    height: 8%;
    background-color: #BD7965;
    z-index: 3;
    top: -10%;
    border-radius: 2rem;
    border: 0.5px solid #CB997C;
    animation: foldTop 2s 1;
    // filter: drop-shadow(1px 1px 4px black);

}

.left-leg {
    margin: auto;
    width: 65%;
    height: 5%;
    background-color: #BD7965;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 15%;
    position: absolute;
    top: 35%;
    border-radius: 2rem;
    border: 0.5px solid #CB997C;
    box-shadow: 1px 1px 0.5px #BD7965;
    animation: foldLeft 2s 1;
    // Maybe use this for shadowing?
    // filter: drop-shadow(12px 4px 8px #585858)
}

.bolt {
    width: 0.4em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: silver;
    position: absolute;
    z-index: 2;
    left: 49%;
    top: 41%;
    animation: foldBolt 2s 1;
}

.right-leg {
    margin: auto;
    width: 65%;
    height: 5%;
    background-color: #BD7965;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 15%;
    position: absolute;
    top: 35%;
    border-radius: 2rem;
    border: 0.5px solid #CB997C;
    box-shadow: 4px 3px 2px 0.5px #BD7965;
    animation: foldRight 2s 1;
    // filter: drop-shadow(1px 1px 4px black);

}

.table-cloth {
    position: relative;
    width: 80%;
    height: 18%;
    background: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0), linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
    background-size: 30px 30px;
    z-index: 4;
    left: 9.75%;
    top: -20%;
    border-radius: 1em 1em 0 0;
    box-shadow: 2px 2px 1px lightgrey;
    animation: upwardRevealOpacitySetter 2s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    // filter: drop-shadow(1px 1px 4px black);

}

.vase-container {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    z-index: 2;
    width: 18%;
    height: 50%;
    left: 42%;
    top: -41%;
    animation: upwardRevealOpacitySetter 2s 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    // filter: drop-shadow(1px 1px 4px black);

}
.vase-top {
    width: 100px;
    height: 20px;
    background-color: #FF7043;
    position: relative;
    top: 8%;
    left: -9%;
    border-radius: 12px 12px 4px 4px;
    z-index: 1;

}
.vase-bottom {
    width: 50px;
    height: 0px;
    position: relative;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid #FF7043 ;
    z-index: 5;
}
.vase-shadow {
    width: 72px;
    height: 0px;
    position: relative;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #F4511E;
    z-index: 10;
    top: 8%;
}
.flower-container {
    width: 100%;
    height: 100%;
}
.flower-head {
    position: absolute;
    top: -34%;
    left: 46%;
    animation: spinFlower 2s 3;
    animation-delay: 3s;
    z-index: 999;
}
.flower-stem {
    width: 4px;
    height: 60px;
    background-color: green;
    position: absolute;
    top: -30%;
    left: 47%;
    filter: none;
}
.bulb {
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background-color: yellow;
    top: -45%;
    left: -32%;
    z-index: 200;
}

.petal1 {
    width: 1em;
    height: 1em;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #c8a2c8;
    background-color: #c8a2c8;
    position: absolute;
    left: 2%;
    top: 49%;
    z-index: 199;
}
.petal2 {
    width: 1em;
    height: 1em;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #c8a2c8;
    background-color: #c8a2c8;
    position: absolute;
    left: 27%;
    top: -15%;
    z-index: 199;
    transform: rotate(-40deg);
}
.petal3 {
    width: 1em;
    height: 1em;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #c8a2c8;
    background-color: #c8a2c8;
    position: absolute;
    left: -20%;
    top: -95%;
    z-index: 199;
    transform: rotate(-90deg);
}
.petal4 {
    width: 1em;
    height: 1em;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #c8a2c8;
    background-color: #c8a2c8;
    position: absolute;
    left: -118%;
    top: -56%;
    z-index: 199;
    transform: rotate(-180deg);
}
.petal5 {
    width: 1em;
    height: 1em;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #c8a2c8;
    background-color: #c8a2c8;
    position: absolute;
    left: -115%;
    top: 45%;
    z-index: 199;
    transform: rotate(90deg);
}
.petal6 {
    width: 1em;
    height: 1em;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #c8a2c8;
    background-color: #c8a2c8;
    position: absolute;
    z-index: 199;
    right: 4px;
    top: 63%;
    transform: rotate(90deg);
}

@keyframes foldTop {
    0% {    
        top: 75%;
    }
    50% {
    }
    100% {
        top: -10%;
    }
}

@keyframes foldLeft {
    0% {
        top: 75%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@keyframes foldBolt {
    0% {
        top: 75%
    }
    100%{
        top: 41%
    }
}

@keyframes foldRight {
    0% {
        top: 75%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@keyframes upwardRevealOpacitySetter {
    0% {
        top: -100%;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes spinFlower {
    from {
        transform:rotate(0deg)
    }
    to {
        transform:rotate(360deg)
    }
}