body {
    background-color: grey;
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
    border: solid 3px white;
}

.table-container {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 50.5%;
    left: 10%;
}

.top {
    margin: auto;
    position: relative;
    width: 75%;
    height: 8%;
    background-color: #BD7965;
    z-index: 3;
    top: -10%;
    border-radius: 2rem;
    border: 0.5px solid #CB997C;
    animation: foldTop 4s infinite;
}

.left-leg {
    margin: auto;
    width: 65%;
    height: 5%;
    background-color: #BD7965;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 15%;
    position: absolute;
    top: 35%;
    border-radius: 2rem;
    border: 0.5px solid #CB997C;
    box-shadow: 1px 1px 0.5px #BD7965;
    animation: foldLeft 4s infinite;

}

.bolt {
    width: 0.4em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: silver;
    position: absolute;
    z-index: 2;
    left: 49%;
    top: 41%;
    animation: foldBolt 4s infinite;
}

.right-leg {
    margin: auto;
    width: 65%;
    height: 5%;
    background-color: #BD7965;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 15%;
    position: absolute;
    top: 35%;
    border-radius: 2rem;
    border: 0.5px solid #CB997C;
    box-shadow: 4px 3px 2px 0.5px #BD7965;
    animation: foldRight 4s infinite
}

.table-cloth {
    position: relative;
    width: 80%;
    height: 18%;
    background: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0), linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
    background-size: 30px 30px;
    z-index: 4;
    left: 9.75%;
    top: -20%;
    border-radius: 1em 1em 0 0;
    box-shadow: 2px 2px 1px lightgrey;
}

@keyframes foldTop {
    0% {
        top: -10%
    }
    50% {
        top: 75%;
    }
    100% {
        top: -10%;
    }
}

@keyframes foldLeft {
    0% {
        top: 35%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 75%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@keyframes foldBolt {
    0% {
        top: 41%;
    }
    50% {
        top: 75%
    }
    100%{
        top: 41%
    }
}

@keyframes foldRight {
    0% {
        top: 35%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    50% {
        top: 75%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@keyframes clothAnim {
    0% {

    }
    50% {

    }
    100% {

    }
}